* {
    margin:0;
    padding: 0;
    outline: none;
}

#searchBar {
    position: fixed;
    top: 42px;
    left: 50%;
    transform: translateX(-50%);
    width: 23%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 23px;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
    color: white;
  }
  
  .search-result:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }